<div>
    <h1>Timers</h1>
    <app-timer (onComplete)="loguearFinish()"[init]="50"></app-timer>
    <app-timer (onComplete)="loguearFinish()"[init]="150"></app-timer>
    <app-timer (onComplete)="loguearFinish()"[init]="10"></app-timer>

    <button class="add" type="button" (click)="toggleAddTimer()"> + </button>
    <app-alert-view [hidden]="!isAddTimerVisible"
    (onCancel)="toggleAddTimer()"
    (onSubmit)="toggleAddTimer()"
    >

    <label>Set the number of seconds for your timer</label>
    <input [(ngModel)]="time" type="number"></app-alert-view>
</div>
