<div>
    <h1>Timers</h1>
    <app-timer (onComplete)="loguearFinish()"[init]="50"></app-timer>
    <app-timer (onComplete)="loguearFinish()"[init]="150"></app-timer>
    <app-timer (onComplete)="loguearFinish()"[init]="10"></app-timer>

    <button class="add" type="button" (click)="toggleAddTimer()"> + </button>
    <app-alert-view [hidden]="!isAddTimerVisible"
    (onCancel)="toggleAddTimer()"
    (onSubmit)="toggleAddTimer()"
    >
    <h3>Agregar nuevo timer</h3>

    <label>Set the number of seconds for your timer</label>
    <input [(ngModel)]="time" type="number">

    
    <button footer-button (click)="toggleAddTimer()" class="cancel-button">Cancel</button>
    <button footer-button (click)="toggleAddTimer()">Ok</button>

</app-alert-view>
    
</div>
